.MyKindergarten-container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(190 221 236);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 70%;
    height: fit-content;
    margin-top: 35px;
    font-family: 'Fredoka One', cursive;
    
  }
  
  .MyKindergarten-wrapper {
    width: 100%;
    height: fit-content;
    
  }
  
  .MyKindergarten-banner-image {
    background-image: url(https://scontent.fqfd1-1.fna.fbcdn.net/v/t1.6435-9/82261670_1485070874965030_3627461333034729472_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=uJctqSN0-rIAX9AthOq&_nc_ht=scontent.fqfd1-1.fna&oh=00_AfAujafa_CFOOXNy3XOEUfvw1VQcDt13sG2h6vpMdzKSgA&oe=6458F6D2);
    background-position: center;
    background-size: cover;
    height: 240px;
    width: 100%;
    border-radius: 12px;
  }
  
 .MyKindergarten-container h1{

    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  
 .MyKindergarten-container p {
    color: #56562d;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .MyKindergarten-button-wrapper{
    margin-top: 18px;
  }
  
  .MyKindergarten-btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .MyKindergarten-btn + .MyKindergarten-btn {
    margin-left: 10px;
  }
  
  .MyKindergarten-outline {
    background: transparent;
    color: rgb(125 42 232);
    border: 2px solid rgb(125 42 232);
    transition: all .3s ease;
    
  }
  
  .MyKindergarten-outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  
  .MyKindergarten-fill {
    background: rgb(125 42 232);
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .MyKindergarten-fill:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }

  /****************************
  kindergarten name decoration
  ****************************/


  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  
  .MyKindergarten-wrapper h1 {
   font-family: 'Rocher';
  }
  
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  }