.information{
margin: 25px 12.5% 25px 12.5%;
width: 75%;
border-radius: 7px;
border: 10px solid;
border-image-source: linear-gradient(to left, #83D0E4, #FFD2DA);
border-image-slice: 100;
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
font-family:'Montserrat', sans-serif;
box-shadow: 0 9px 40px rgb(42 42 42);


}

.information header{
    background-color:#FFD2DA ;
    width: 100%;
    height: 150px;
}
.information header h1{
    margin: 5% 37%;
    color:#00708D;
}
.information form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.info {
    color: #00708D;
    background-color:#83D0E4;
    width: 85%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info h2{
    margin-left: 17px;
}
.info i{
    margin-right: 17px;
}

.nth1-1{
    display: flex;
    flex-wrap: wrap;
    
}


.information label{
    width: 100px;
    color: #00708D;
    background-color: transparent;

    
  display: flex;
  align-items: center;
  justify-content: center;

}
.nth1-1 input{
    padding: 12px 38px;
    margin: 0 6px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;

}
.nth1-1 label{
    font-size: 13px;
    margin-top: 5px;
}

.nth2{
    display: flex;
    flex-wrap: wrap;
    
}
.nth2 input{
    padding: 12px 115px;
    margin: 0 12px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;

}
.nth2 label{
    width: 200px;
}
.nth2-1 input{
    padding: 12px 104px;
}
.nth3{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.nth3 input{
   
    padding: 12px 300px;
    margin: 0 12px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;

}

.nth4{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.nth4-1{
    display: flex;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.nth4-1 input{
   width: 20px;
   height: 20px;
}
.nth4-1 label{
    padding-right: 60px;
    
}

.nth5{
    display: flex;
    flex-direction: column;
    margin-right:42% ;
}
.nth5 input{
    padding: 12px 115px;
    margin: 0 12px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;
}
.nth5 label{
    width: 200px;
}


.nth6{
   width: 75%;
   
}
.nth6 p{
    color: #00708D;
}
.nth6-1{
    display: flex;
    flex-wrap: wrap;
}
.nth6-2{
    display: flex;
    padding-bottom: 15px;
}
.nth6-1 label{
    padding-right: 200px;
}
.nth6-2 input{
    width: 20px;
    height: 20px;

}


.nth7{
    display: flex;
}
.nth7 input{
    padding: 12px 100px;
    margin: 0 12px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;
}
.nth7-1{
    margin: 0 78px;
}

.nth8{
    width: 80%;
}
.nth8 textarea{
    border-color: #00708D;
    color: #00708D;
    border-width: 2px;
    border-radius: 9px;
    width: 100%;
    height: 90px;
}
.nth8 label{
    width: 420px;
    margin: 14px 0;
    position: relative;
    right: 25px;
}
.nth8-1 label{
    width: 340px;
}

.nth9{
    width: 80%;
}
.nth9-1{
display: flex;
flex-wrap: wrap;
}
.nth9-1 input{
    padding: 12px 110px;
    margin: 0 6px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;

}
.nth9-1 label{
    font-size: 13px;
    margin-top: 10px;
}


.nth10{
    display: flex;
    flex-wrap: wrap;
}
.nth10 input{
    padding: 12px 110px;
    margin: 0 6px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00708D;

}
.nth10 label{
    font-size: 15px;
    margin-top: 10px;

}
.nth10-1 label{
    width: 200px;
}

.nth4-2{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.nth4-2 input{
   width: 20px;
   height: 20px;
}
.nth4-2 label{
    padding-right: 60px;
    width: 200px;
    
}


.cut{
    width: 80%;
    border-width: 4px;
    border-style:dashed;
    border-color: #FFD2DA;
    margin-bottom: 10px;
 }

 input:disabled {
    cursor: default;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3);
}