.backRight {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background-image:url(./pr.jpeg);
	background-size: contain;
	background-position: 50% 50%;
	z-index: 0;
  }
  .darkmode .backRight{
	background-image:url(./pr_dark.jpeg);
 }
  
  .backLeft {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background-image:url(./pr1.png);
	background-size: contain;
	background-position: 50% 50%;
	background-position-x: right;
	z-index: 0;
  }
 .darkmode .backLeft{
	background-image:url(./pr1_dark.png);
 }
  .backRight_kin{
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background-image:url(./kin1.jpg);
	background-size: cover;
	background-position: 40% 50%;
	z-index: 0;
  }
  .darkmode .backRight_kin{
	background-image:url(./kin1_darkk.jpg);
  }

  .backLeft_kin{
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background-image:url(./kin4.jpg);
	background-size: contain;
	background-position: 30% 50%;
	z-index: 0;
  }
  .darkmode .backLeft_kin{
	background-image:url(./kin4_dark.jpg);
  }
 
  
  #back {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
  }
  
  #slideBox {
	width: 50%;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
	margin-left: 50%;
	position: absolute;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .topLayer {
	width: 200%;
	height: 100%;
	position: relative;
	left: 0;
	left: -100%;
  }
  
  .left {
	width: 50%;
	height: 100%;
	background: #f2eee3;
	left: 0;
	position: absolute;
  }

  .right {
	width: 50%;
	height: 100%;
	background: #f2eee3;
	right: 0;
	position: absolute;
  }
  
  .content {
	width: 250px;
	margin: -8vh auto;
	top: 25%;
	position: absolute;
	left: 50%;
	margin-left: -125px;

  }
  
  .content h2 {
	color: #03A9F4;
	font-weight: 300;
	font-size: 35px;
  }
  
  button {
	background: #03A9F4;
	padding: 10px 60px;
	width: auto;
	font-weight: 600;
	text-transform:  uppercase;
	font-size: 14px;
	color: #fff;
	line-height: 16px;
	letter-spacing: 0.5px;
	border-radius: 20px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
	border: 0;
	outline: 0;
	transition: all 0.25s;
	cursor: pointer;
  }
  
  button:hover {
	background: #0288D1;
	box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }
  .off {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #5c8ca1;
	box-shadow: none;
	
  }
  
  .off p{ 
	 color: #03A9F4;
	 cursor: pointer;
	 font-size: 17.5px;
	 font-weight: 600;
}


 .lightmode .off p:hover {
	background: #e9dede;
	color: #03A9F4;
	box-shadow: none;
  }
 .darkmode .off p:hover {
	box-shadow: none;
	color: #03A9F4;
	background: #363A3D;
  }

  .forget-pass{
	color: #5c8ca1;
	font-size: 14px;
	cursor: pointer;
  }
  .forget-pass:hover{
	transform: scale(1.02);
  }

  .signcont input,.kin-form input {
	background: transparent;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #45494C;
	font-size: 14px;
	color: #959595;
	padding: 8px 0;
	margin-top: 20px;
	font-family: 'Fredoka One', cursive;
  }

.signcont{
	z-index: 0;
	font-family: 'Fredoka One', cursive;
}

.Topcloud-sign{
	height: 25%;
}

.signButton{

	margin: 10px 4px 0 0 ;
	width: 255px;

}
.signButton button{
	margin-top: 15px;
	
}

.sign-err-msg{
	color: #dc2929;
}
.darkmode .sign-err-msg{
	color: #dc2929;
}