.refresh{
    border:3px solid #5957f9;
    font-weight:700;
    border-radius:20px;
    cursor:pointer;
    color: #5957f9;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.refresh:hover{
    scale: 1.1;
}

.kin-form{
    width: 75vw;
    height: 65vh;
    background-color: #fff;
 	  border-radius: 33px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 1800ms;
    position: fixed;
    left: 12vw;
    top: 16vh;
    z-index: 2;
}

.darkmode .kin-form{
  background-color: #001e29;
}






#multi_step_form {
    padding-bottom: 60px;
  }


  #multi_step_form .container-kin #multistep_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 2px solid grey;
    font-family: 'Fredoka One', cursive;
    color: #3b65c9;
   
  }
  #multi_step_form .container-kin #multistep_nav .progress_holder {
    padding: 29px 20px;
    text-align: center;
    border-bottom: 2px solid grey;
  }
 

  #multi_step_form .container-kin #multistep_nav .activated_step {
    background-color: #a0fa20;
    color: white;
  }
  #multi_step_form .container-kin fieldset.step {
    position: relative;
    bottom: 36px;
    padding: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #multi_step_form .container-kin fieldset.step .nextStep {
    position: absolute;
    right: 18px;
    bottom: 0;
    padding: 10px;
    width: 100px;
  }
  #multi_step_form .container-kin fieldset.step .prevStep {
    position: absolute;
    left: 18px;
    bottom: 0;
    padding: 10px;
    width: 100px;
    background-color: gray;
  }
  #multi_step_form .container-kin fieldset.step:not(:first-of-type) {
    display: none;
  }
 

  .open-kin-dialog-form{
    color: #5957f9;
  }


  fieldset {
    border: none;
  }
  .content-kin-form{
    flex-grow: 2;
    font-family: 'Fredoka One', cursive;
    
  }
  .content-kin-form label{
    font-size: 23px;
    color:#03a9f4 ;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .content-kin-form label p {
    color: #ff0000;
  }

  .content-kin-form input{
    margin-top: 25px;
    width: 280px;
  }
 
 
  .progress_holder:nth-child(1){
    border-top-left-radius: 33px;
}
.progress_holder:nth-child(5){
    border-bottom-left-radius: 33px;
    border :none !important;
}

.activites{
display: flex;
flex-wrap: wrap;
position: absolute;
bottom: 77px;

}

.darkmode .activites lable{
  color: antiquewhite ;
}
.activite {
  display: flex;
  align-items: baseline;
  margin-right: 65px;
}
.activite input{
  width: 25px;
}

.kin-form-header{
 position: relative;
 bottom: 77px;

}

.kin-form-footer{
  position: absolute;
  bottom: 20px;
  color: #5957f9;
}

.darkmode .kin-form-footer h1{
  color: #5957f9;
}

button:disabled{
  background-color: gray;
}

.unit { 
  position: relative; 
  right: 160px; 
  color: #a39595;
  font-weight: 600;
  font-size: 15px;
  
}
.amount{
  display: flex;
  align-items: baseline;
 justify-content: center;
}





.kin-card{
  position: absolute;
  width: 99.3vw;
  top: 100vh;
  background-color: #beddec;
}







.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 2rem 5rem;
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  width: 370px;
  transition: all 0.1s;
  cursor: pointer;
}

.card:hover{
  scale: 0.95;
}

.card1{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(0, 255, 13) 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
}
.darkmode .card1{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(0, 255, 13) 0 0) 30px 0/2px 100% #202124;
  background-repeat: no-repeat;
}

.card2{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(255, 0, 234) 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
}
.darkmode .card2{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(255, 0, 234) 0 0) 30px 0/2px 100% #202124;
  background-repeat: no-repeat;
}

.card3{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(255, 0, 0) 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
}
.darkmode .card3{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(255, 0, 0) 0 0) 30px 0/2px 100% #202124;
  background-repeat: no-repeat;
}

.card4{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(255, 251, 0) 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
}
.darkmode .card4{
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(rgb(255, 251, 0) 0 0) 30px 0/2px 100% #202124;
  background-repeat: no-repeat;
}


.card_content {
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;

}

h2.card_title,p {
  margin: 1.2rem 0;
}

.card_title{
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 12px;
  color: #03a9f4;
  font-size: 28px;
  font-family: 'Fredoka One', cursive;
}

.card_title span{
  font-size: 28px;
  font-weight: 700;
}

.card_text ol{
  list-style: circle;
}








.banner,
h1,
button {
  transition: 0.6s;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  background: url("kin.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  position: absolute;
}
.darkmode .banner{
  background: url("kin_dark.png");
  background-size: 100%;
  background-position: center;
}

.banner h1 {
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  color: #c7002a;
}

.banner button {
  padding: 12px 36px;
  border-radius: 50px;
  border: 0;
  background: #221e6f;
  color: #f9f9f9;
  font-size: 18px;
  font-family: inherit;
  font-family: 'Fredoka One', cursive;
}





/******************************************************************************************************************
******************************************************************************************************************/













/******************************************************************************************************************
******************************************************************************************************************/

.banner2,
h1,
button {
  transition: 0.6s;
}

.banner2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  background: url("pr4.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  position: absolute;
}
.darkmode .banner2{
  background: url("pr5.jpg");
  background-size: 100%;
  background-position: bottom;
}

.banner2 h1 {
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  color: #c7002a;
}





.search-container {
  position: relative;
}
.search-main {
  position: relative;
  border: 2px solid #5F8FA4;
  height: 30px;
  background: #B1BEC6;
  width: 30vw;
  border-radius: 50px;
  padding-left: 31px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  color: #555;
  font-family: 'Fredoka One', cursive;
}
.search-main:focus {
  outline: none;
}

.searchicon {
  position: absolute;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 3px solid #5F8FA4;
  left: 10px;
  top: 11px;
  border-radius: 100%;
}
.searchicon:after {
  content: "";
  position: absolute;
  background: #5F8FA4;
  height: 6px;
  width: 3px;
  bottom: -5px;
  right: -3px;
  transform: rotate(-45deg);
}

.microphone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 37px;
  width: 8vw;
  background: #FF5252;
  right: 2.5px;
  top: 2px;
  border-radius: 22px;
  box-shadow: 0px 1px 2px 0px #555;
  color: #c70000;
  cursor: pointer;
}


.icon-holder {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7px;
  visibility: hidden;
}

.icon {
  position: relative;
  height: 35px;
  width: 35px;
  background: #43b3e7;
  border-radius: 100%;
  box-shadow: 0px 1px 2px 0px #555;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
}
.icon:hover {
  background: #70c5ed;
  animation-play-state: paused;
}



.circ {
  margin: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #43b3e7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}



.fork {
  position: absolute;
  height: 5px;
  width: 2px;
  background: white;
  top: 7px;
  left: 9px;
}
.fork:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 2px;
  background: white;
  top: 0px;
  left: 3px;
}
.fork:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 2px;
  background: white;
  top: 0px;
  left: 6px;
}

.knife {
  position: absolute;
  height: 9px;
  width: 4px;
  background: white;
  right: 11px;
  bottom: 7px;
  border-radius: 2px;
}
.knife:after {
  content: "";
  position: absolute;
  height: 13px;
  width: 6px;
  background: white;
  bottom: 8px;
  border-top-right-radius: 100%;
}

.cup {
  position: absolute;
  height: 14px;
  width: 17px;
  background: white;
  top: 15px;
  left: 8px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.cup:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 15px;
  border-radius: 100%;
  right: -4px;
  border-right: 2px solid white;
}

#Trending:after {
  content: "S";
  position: absolute;
  font-style: italic;
  font-size: 5px;
  transform: skewY(-40deg);
  color: white;
  top: 6px;
  left: 12px;
}

#Trending:before {
  content: "S";
  position: absolute;
  font-style: italic;
  font-size: 5px;
  transform: skewY(-40deg);
  color: white;
  top: 6px;
  left: 18px;
}

.dots {
  position: absolute;
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 100%;
  left: 15px;
  top: 15px;
}
.dots:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 100%;
  left: 9px;
}
.dots:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 100%;
  left: -9px;
}


@keyframes ani {
  0% {
    opacity: 1;
  }
  10% {
    transform: scale(1.2);
    opacity: 1;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#Place {
  animation-delay: 0.1s;
}

#Activ {
  animation-delay: 0.2s;
}

#Trending {
  animation-delay: 0.3s;
}

#All {
  animation-delay: 0.4s;
}

.tooltip {
  opacity: 0;
  position: absolute;
  font-size: 12px;
  color: white;
  background: #555;
  padding: 8px;
  top: 15px;
  border-radius: 15%;
  top: 45px;
}
.tooltip:after {
  content: "";
  position: absolute;
  background: #555;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 18px;
  width: 18px;
  top: -10px;
  left: 7px;
}

.icon:hover > .tooltip {
  animation: ani 0.4s ease-out forwards;
  animation-delay: 0.3s;
}




.pr-card{
  position: absolute;
  width: 99.3vw;
  top: 100vh;
  background-color: #beddec;
 
}















 


