
.Registration-list-item{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.Registration-list-item img{
    max-width: 23px;
    margin-right: 18px;
    opacity: 1;
    transition: 0.5s;
}

.Registration-list-item:hover{
background-color: gray;
}

.noti_count {
    font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-weight: 700;
}
.indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    top:25px;
    right: 70px;
    background-color: #f83f3c;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0.95;

}



.class-list-item{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    position: relative;
}


.card3 .class-list-item{
    font-weight: 600;
}
.class-list-item img{
    max-width: 23px;
    margin-right: 18px;
    transition: 0.5s;
}
.card3 .class-list-item img{
    max-width: 32px;
    margin-right: 18px;
    transition: 0.5s;
}


.card2 ol .material-symbols-outlined{
    font-weight: bold;
    color: #f72522;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.card2 ol .material-symbols-outlined:hover{
    transform: scale(1.1);
}

.add-act-icon{
    font-weight: bold;
    cursor: pointer;
    color: #0cb000;
}
.add-act-icon:hover{
    transform: scale(1.1);
}
.add-act{
    display: flex;
    align-items: center;
    margin-left: 37px;
}
.add-act input{
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-size: 14px;
    padding: 3px 0;
    font-family: 'Fredoka One', cursive;
}
.card3 .save-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card3 .card_text input{
    margin-left: 10px;
    width: 180px;
    background: transparent;
    border: 0;
    background-color: rgba(226, 248, 255, 0.75 );
    outline: 0;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
}
.card3 .card_text button{
     
    all: initial;
    display: none;
    font-family: 'Fredoka One', cursive;
    padding: 8px 20px;
    background: #d1ffe6;
    width: auto;
    font-weight: 600;    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}


.card1 li .note-img{
    position:absolute;
    right: 0;
    margin-right:0 ;
}
.card1 li .note-img:hover{
    transform: scale(1.2);
}