@keyframes fade {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 280px;
    max-width: 500px;
    height: 360px;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    animation: fade 0.5s ease 1 forwards;
    overflow-y: auto;
  }
  .confirm h1 {
    text-align: center;
    font-size: 21px;
    margin: 1.5rem 1rem 0.5rem;
  }
  .confirm .child-content {
    font-size: 16px;
    margin: 1rem 0 2rem 2rem;
  }
  .confirm .child-content label{
    font-weight: 600;
  }
  .confirm button {
    background: transparent;
    border: none;
    color: aliceblue;
    height: 3rem;
    font-size: 1rem;
    width: 50%;
    position: absolute;
    cursor: pointer;
  }
  .confirm button:nth-of-type(1) {
    background-color: #f93f2a;
    border-top: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    left: 0;
    border-radius: 0 0 0 10px;
  }
  .confirm button:nth-of-type(2) {
    background-color: #01d15f;
    border-top: 1px solid #B4B4B4;
    right: 0;
    border-radius: 0 0 10px 0;
  }
  
  .confirm button:hover {
    font-weight: bold;
   transform: scale(0.95);
  }


  .Registration-child-info{
    display: flex;
    flex-direction: column;
  }

  .cut3{
    width: 90%;
    border-width: 4px;
    border-style:dashed;
    border-color: #ffa500;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.8;
 }