
#KinChat-container{
	width:100%;
    background: linear-gradient(120deg, #17bebb, #f0a6ca);
	margin:0 auto;
	font-size:0;
	font-family: 'Fredoka One', cursive;
}
#KinChat-container aside{
	width:22%;
	height:100vh;
    background-color: rgba(255, 255, 255, 0.08);
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
#KinChat-container main{
	width:78%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

#KinChat-container aside header{
	padding:30px 20px;
}
#KinChat-container aside input{
	height:50px;
	width: 150px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:transparent;
	border-top:none;
	border-right: none;
	border-left: none;
	border-bottom-color:rgba(255, 255, 255, 0.9) ;
	border-radius:3px;
	color:rgba(255, 255, 255, 0.9);
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
#KinChat-container aside input::placeholder{
	color:#fff;
}
#KinChat-container aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:auto;
	height:75vh;
}
#KinChat-container aside li{
	padding:10px 0;
	position: relative;
	z-index: 1000;
	cursor: pointer;
}
#KinChat-container aside li:hover{
	background-color:#5e616a;
}
#KinChat-container h2,h3{
	margin:0;
}
#KinChat-container aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
    width: 45px;
}
#KinChat-container aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
#KinChat-container aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
#KinChat-container aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

#KinChat-container .status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
#KinChat-container .green{
	background-color:#7b7b7b;
}

#KinChat-container .orange{
	background-color:#ff725d;
}
#KinChat-container .blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

#KinChat-container main header{
    display: flex;
	padding:10px 20px 10px 40px;
    align-items: center;
    justify-content: flex-start;
}
#KinChat-container main header > *{
	display:inline-block;
	vertical-align:top;
}
#KinChat-container main header img:first-child{
	border-radius:50%;
	width: 50px;
}
#KinChat-container main header img:last-child{
	width:24px;
	margin-top:8px;
}
#KinChat-container main header div{
	margin-left:10px;
	margin-right:145px;
}
#KinChat-container main header h2{
	font-size:16px;
	color: rgba(255, 255, 255, 0.9);
}
#KinChat-container main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#KinChat-container #chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:475px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#KinChat-container #chat li{
	padding:10px 30px;
}
#KinChat-container #chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight: normal;
	margin-right: 5px;
}
#KinChat-container #chat h3{
	font-size:12px;
	color:#656565;
}
#KinChat-container #chat .entete{
	margin-bottom:5px;
}
#KinChat-container #chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#KinChat-container #chat .me{
	text-align:right;
}
#KinChat-container #chat .you .message{
	background-color:#7b7b7b;
}
#KinChat-container #chat .me .message{
	background-color:#6fbced;
}
#KinChat-container #chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#KinChat-container #chat .you .triangle{
		border-color: transparent transparent #7b7b7b transparent;
		margin-left:15px;
}
#KinChat-container #chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:955px;
}

#KinChat-container main footer{
    display: flex;
	padding:20px 30px 10px 20px;
}
#KinChat-container main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	border-radius:3px;
	font-size:13px;
    margin: 0 12px;
}
#KinChat-container main footer textarea::placeholder{
	color:#ddd;
}
#KinChat-container main footer img{
	height:30px;
	cursor:pointer;
}
#KinChat-container main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:25px;
	margin-top:10px;
	display:inline-block;
}

h3 .parents-of{
    margin-right: 1px;
}

.chat-send-button{
	background: #03A9F4;
    padding: 6px 20px;
	font-weight: 600;
	color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
	border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;
    cursor: pointer;
    text-transform:none;
}