.botcloud{
    background:url("./clouds2.png") repeat-x;
    height:17%;
    width:100%;
    animation:cloudani 18s linear infinite;
    
  }
  @keyframes cloudani{
    from{
      background-position:0 100%;
    }
    to{
      background-position:100% 100%;
    }
  }