.row {
    background-color: rgb(32 33 36 / 90%);
    text-align: center;
    padding: 2em 2em 0.5em;
    width: fit-content;
    margin: 2em	auto;
    border-radius: 10px; }
    
    .row h1 {
      font-size: 2.5em; 
    color: #0398db;}
    .row .form-group {
      margin: 0.5em 0; }
      .row .form-group label {
        display: block;
        color: #f1f1f1;
        text-align: left;
        font-weight: 600; }
      .row .form-group input, .row .form-group button {
        display: block;
        padding: 0.5em 0;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid #af91ce;
        color: #f1f1f1; }
      .row .form-group button {
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        outline: none;
        -moz-user-select: none;
        user-select: none;
        color: #f1f1f1;
        font-weight: 800;
        cursor: pointer;
        margin-top: 2em;
        padding: 1em;
    transition: all 0.24s; }
        .row .form-group button:hover, .row .form-group button:focus {
          background-color: #955ca1; }
        .row .form-group button.is-loading::after {
          animation: spinner 500ms infinite linear;
          content: "";
          position: absolute;
          margin-left: 2em;
          border: 2px solid 000;
          border-radius: 100%;
          border-right-color: transparent;
          border-left-color: transparent;
          height: 1em;
          width: 4%; }
  
#user_email::placeholder {
    color: #f1f1f1;
    opacity:0.5 ;
}
.information-text {
    color: #ddd; }