.profile-card{
	background-color: #fff;
	width: 280px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}
.top-container{
	display: flex;
	align-items: center;
    justify-content: space-evenly;
}
.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
    width: 90px;
}
.name{
	font-size: 16px;
	color: #272727;
	position: relative;
	top: 8px;
}
.mail{
    font-size: 16px;
	color: grey;
}

.bot-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

.recent-border{
	border-left: 2px solid #5957f9;
	display: flex;
	align-items: center;

}
.recent-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
	font-size: 16px;
	font-weight: 700;
	color: #5957f9;
	margin-left: 2px;
}

.wishlist{
	font-size: 16px;
	font-weight: 700;
	color: #272727;

}
.wishlist-border:hover{
	border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}
.fashion-studio-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}

dialog{
    border: none;
    background-color: transparent;
}