
.topcloud{
   position: relative;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background:url("./clouds3.png") repeat-x;
    height:17%;
    width:100%;
    animation:cloudani1 18s linear infinite;
    z-index: 1;
  }
  @keyframes cloudani1{
    from{
      background-position:0 0;
    }
    to{
      background-position:100% 0%;
    }
 
}


.topcloud button{
    
    transition: all .5s ease;
    color: rgb(0, 0, 0);
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    outline: none;
    border-radius: 4px;
    margin-bottom: 33px;
}
.topcloud button:hover {
    color: #001F3F;
    background-color: #fff;
}






.topcloud input[type="checkbox"] {
  display: none;
}

.switch-btn {
  width: 100px;
  height: 30px;
  background-color: #BFDFEC;
  border: 4px solid #2e3052;
  border-radius: 30px;
  padding: 6px;
}

.topcloud label {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9f9;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translate(-11px, 19px) rotate(120deg);
  user-select: none;
  color: #17193F;
}

.switched.switch-btn {
  border: 4px solid #2e3052;
  background-color: #7635DC;
}
 
.switched.switch-btn label {
  transform: translateX(calc(100px - 30px));
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
 
.switched.switch-btn label .icons {
  transform: translateX(-20px);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.switch-btn{
  transform: scale(0.7);
  position: relative;
  bottom: 15px;
  
}

/***************
profile circle
***************/

.circle {
    background-color: #2e3052;
    border-radius: 50%;
    transform: scale(0.4) translate(33vw,-4vh);
    cursor: pointer;
    height: 100px;
   width: 100px; 
   font-size: 30px;
   color: white;
   
}
.circle option{
    color: rgb(0, 0, 0);
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    background-color : transparent;
    font-weight: 600;
    cursor: pointer;
}

