.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.main{
 
    flex-basis: 66%;
 
}

.appmain{
 display: flex;
}
.kenside{
    margin: 25px 12.5px 25px 25px;
    height: 100%;
    width: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: translate(0,-25px);
    border-radius: 7px;
    font-family:'Montserrat', sans-serif;
}
.parside{
    margin: 25px 25px 25px 12.5px;
    height: 100%;
    width: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: translate(0,-25px);
    border-radius: 7px;
    font-family:'Montserrat', sans-serif;
}
.parside h1{
    margin-left: 32%;
    margin-right: 32%;
    color: blueviolet;
}
.kenside h1{
    margin-left: 26%;
    margin-right: 26%;
    color: blueviolet;
}






