body {
 
 margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}



.welcome{
 background-color:white;
 width: 100vw;
 height: 100vh;
}

.welcome img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 270px;
   padding-top: 25vh;
   padding-bottom: 25vh;
}

.done{
  display: none;
}

