body {
 
 margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}



.welcome{
 background-color:#FFAD71;
 height: 100vh;

}

.welcome img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 320px;
   padding-top: 24vh;
   padding-bottom: 24vh;
}

.done{
  display: none;
}